.icon-sprite, .icon-Untitled-6, .icon-arrow-download, .icon-arrow-left, .icon-arrow-more-white, .icon-arrow-more, .icon-arrow-right, .icon-play-button, .icon-search, a.more-link:after,
.more-link > a:after, .download-link:after, .download-link:hover:after, .video-thumbnail:after, #block-search-form input[value="Search"], .flex-direction-nav li .prev:after, .flex-direction-nav li .next:after, #block-views-c97538715ae49602b220eacf2d11c084 .slide-description > a:after, #block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next:after {
  background: url('../images/icon-sbd777dda94.png') no-repeat;
}

.icon-Untitled-6 {
  background-position: 0 -153px;
}

.icon-arrow-download {
  background-position: 0 -99px;
}

.icon-arrow-left {
  background-position: 0 -117px;
}

.icon-arrow-more-white {
  background-position: 0 -171px;
}

.icon-arrow-more {
  background-position: 0 -135px;
}

.icon-arrow-right {
  background-position: 0 -63px;
}

.icon-play-button {
  background-position: 0 0;
}

.icon-search {
  background-position: 0 -45px;
}

/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 87.5%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 0.64286em;
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: arial, helvetica, sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  /* Sets the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2.57143em;
  line-height: 1.25em;
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.71429em;
  line-height: 1.5em;
  margin-top: 0.375em;
  margin-bottom: 0.375em;
}

h3 {
  font-size: 1.28571em;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1em;
  line-height: 1.28571em;
  margin-top: 0.64286em;
  margin-bottom: 0.64286em;
}

h5 {
  font-size: 0.92857em;
  line-height: 1.38462em;
  margin-top: 0.69231em;
  margin-bottom: 0.69231em;
}

h6 {
  font-size: 0.85714em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 0.64286em 48px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 0.64286em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.28571em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 0.64286em 0;
}

dd {
  margin: 0 0 0 48px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 48px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 0.15357em;
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.34643em;
  border-left-style: solid;
  border-left-width: 0.07143em;
  padding-left: 0.33036em;
  border-right-style: solid;
  border-right-width: 0.07143em;
  padding-right: 0.33036em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 87.5%;
}

html {
  font-size: 14px;
  line-height: 0.64286em;
}

html > body {
  line-height: 1.28571em;
  color: #666666;
  font-family: arial, helvetica, sans-serif;
}

h1 {
  font-size: 2.57143em;
  line-height: 1.25em;
  margin-top: 0.25em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.25em;
  color: #444444;
  font-family: arial, helvetica, sans-serif;
}

h2 {
  font-size: 1.71429em;
  line-height: 1.5em;
  line-height: 1.125em;
  margin-top: 1.125em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.375em;
  color: #444444;
  font-family: arial, helvetica, sans-serif;
}

h3 {
  font-size: 1em;
  line-height: 1.28571em;
  margin-top: 1.28571em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.28571em;
  font-family: arial, helvetica, sans-serif;
  color: #0088ff;
}

h4 {
  font-size: 1em;
  line-height: 1.28571em;
  margin-top: 2.57143em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-transform: uppercase;
}

h5 {
  font-size: 0.92857em;
  line-height: 1.38462em;
  margin-top: 2.76923em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-weight: normal;
}

h6 {
  font-size: 0.85714em;
  line-height: 1.5em;
  margin-top: 3em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

a {
  color: #0055aa;
  text-decoration: none;
}
a:hover {
  color: #003b77;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1.28571em;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.gutters {
  padding: 0 24px;
}

.gutters-half {
  padding: 0 12px;
}

.l-space-leading {
  margin-top: 1.92857em;
}

.l-space-trailing {
  margin-bottom: 1.92857em;
}

body.html {
  background-color: #0a294d;
}

#main {
  background-color: white;
  padding: 2.57143em 0;
}

.page-width {
  margin: 0 auto;
  padding: 0 12px;
}
@media (min-width: 644px) {
  .page-width {
    width: 620px;
  }
}
@media (min-width: 736px) {
  .page-width {
    width: 712px;
  }
}
@media (min-width: 828px) {
  .page-width {
    width: 804px;
  }
}
@media (min-width: 920px) {
  .page-width {
    width: 896px;
  }
}
@media (min-width: 1012px) {
  .page-width {
    width: 988px;
  }
}
@media (min-width: 1104px) {
  .page-width {
    width: 1080px;
  }
}

@media (min-width: 920px) {
  .no-sidebars.node-type-page.not-front #main-content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 644px) {
  .sidebar-first #main-content,
  .two-sidebars #main-content {
    float: right;
    width: 436px;
  }
}
@media (min-width: 736px) {
  .sidebar-first #main-content,
  .two-sidebars #main-content {
    width: 528px;
  }
}
@media (min-width: 828px) {
  .sidebar-first #main-content,
  .two-sidebars #main-content {
    width: 620px;
  }
}
@media (min-width: 920px) {
  .sidebar-first #main-content,
  .two-sidebars #main-content {
    width: 712px;
  }
}
@media (min-width: 1012px) {
  .sidebar-first #main-content,
  .two-sidebars #main-content {
    width: 804px;
  }
}
@media (min-width: 1104px) {
  .sidebar-first #main-content,
  .two-sidebars #main-content {
    width: 896px;
  }
}
@media (min-width: 644px) {
  .sidebar-first #sidebar-first,
  .two-sidebars #sidebar-first {
    float: left;
    width: 160px;
  }
}

@media (min-width: 736px) {
  .sidebar-second #content {
    float: left;
    width: 436px;
  }
}
@media (min-width: 920px) {
  .sidebar-second #content {
    width: 528px;
  }
}
@media (min-width: 1012px) {
  .sidebar-second #content {
    width: 620px;
  }
}
@media (min-width: 1104px) {
  .sidebar-second #content {
    width: 712px;
  }
}
@media (min-width: 736px) {
  .sidebar-second #sidebar-second {
    float: right;
    width: 252px;
    padding-left: 24px;
  }
}
@media (min-width: 828px) {
  .sidebar-second #sidebar-second {
    width: 344px;
  }
}

@media (min-width: 920px) {
  .two-sidebars #content {
    float: left;
    width: 436px;
  }
}
@media (min-width: 1104px) {
  .two-sidebars #content {
    width: 528px;
  }
}
@media (min-width: 920px) {
  .two-sidebars #sidebar-second {
    float: left;
    width: 252px;
    padding-left: 24px;
  }
}
@media (min-width: 1012px) {
  .two-sidebars #sidebar-second {
    width: 344px;
  }
}

.ds-2col > .group-left,
.ds-2col > .group-right {
  width: 100%;
  float: none;
}
@media (min-width: 736px) {
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 344px;
    float: left;
  }
}
@media (min-width: 920px) {
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 436px;
  }
}
@media (min-width: 1104px) {
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 528px;
  }
}
.ds-2col > .group-left {
  margin-right: 24px;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #666666;
  -moz-box-shadow: 0 0 5px #666666;
  box-shadow: 0 0 5px #666666;
}

.form-item {
  margin: 0 0 1em 0;
}

label,
fieldset-legend {
  font-size: 0.85714em;
  line-height: 0.75em;
  margin-bottom: 0.75em;
  color: #66c2ff;
  font-weight: 600;
}

.form-required {
  color: #b52847;
  font-weight: bold;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  border-color: #b3b3b3;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  max-width: 100%;
}
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #666666;
}

@media (min-width: 644px) {
  .node-webform label {
    width: 16%;
    float: left;
    text-align: right;
    margin-right: 24px;
  }
  .node-webform input[type="text"],
  .node-webform input[type="email"],
  .node-webform .form-textarea-wrapper {
    float: left;
    @inlude inline-block;
    width: 60%;
  }
  .node-webform .webform-component {
    overflow: hidden;
    *zoom: 1;
    padding-top: 0.64286em;
  }
  .node-webform .webform-client-form #edit-actions {
    margin-left: 16%;
    padding-left: 24px;
  }
}

table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.28571em;
}

thead {
  text-align: left;
}
thead th {
  vertical-align: bottom;
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #b3b3b3;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid #b3b3b3;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

tr.odd {
  background-color: #f0f1f2;
}

tr.even {
  background-color: transparent;
}

/*@mixin icon($normal: 0 0, $hover: "none", $active: "none") {
  @include background-image(image-url("icons.png"));
  background-repeat: no-repeat;
  background-position: $normal;
  @if $hover != 'none' {
    &:hover {
      background-position: $hover;
    }
  }

  @if $active != 'none' {
    &:focus,
    &:active {
      background-position: $active;
    }
  }
}

@mixin product-icon($normal: 0 0, $hover: "none", $active: "none") {
  @include icon($normal, $hover, $active);
  @include background-image(image-url("icons-products.png"));
}*/
.icon, #block-search-form input[value="Search"] {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.link-light-blue, .featured-resources .node-title-featured > a {
  color: #66c2ff;
}
.link-light-blue:hover, .featured-resources .node-title-featured > a:hover {
  color: #0055aa;
}

.more-link,
.node-readmore {
  font-size: 0.71429em;
  line-height: 1.8em;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

a.more-link:after,
.more-link > a:after {
  background-position: 0 -135px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: "";
  height: 18px;
  width: 18px;
  position: relative;
  top: -1px;
}

.button, input.form-submit {
  font-size: 12px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  line-height: 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #0055aa;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007bf6), color-stop(70%, #0055aa));
  background: -webkit-linear-gradient(#007bf6, #0055aa 70%);
  background: -moz-linear-gradient(#007bf6, #0055aa 70%);
  background: -o-linear-gradient(#007bf6, #0055aa 70%);
  background: linear-gradient(#007bf6, #0055aa 70%);
  -webkit-box-shadow: #44a1ff 0 1px 0 inset;
  -moz-box-shadow: #44a1ff 0 1px 0 inset;
  box-shadow: #44a1ff 0 1px 0 inset;
  border: 1px solid #004890;
  color: white;
  text-shadow: #00386f 0 -1px 0;
  font-weight: bold;
  text-transform: uppercase;
}
.button:hover, input.form-submit:hover {
  background-color: #004890;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #006edd), color-stop(75%, #004890));
  background: -webkit-linear-gradient(#006edd 3%, #004890 75%);
  background: -moz-linear-gradient(#006edd 3%, #004890 75%);
  background: -o-linear-gradient(#006edd 3%, #004890 75%);
  background: linear-gradient(#006edd 3%, #004890 75%);
}
.button:active, input.form-submit:active {
  -webkit-box-shadow: #004181 0 1px 2px inset;
  -moz-box-shadow: #004181 0 1px 2px inset;
  box-shadow: #004181 0 1px 2px inset;
}

.form-actions {
  margin: 0;
  padding: 0 0 1em 0;
}
.form-actions input.form-submit {
  margin-right: 24px;
}

.download-link {
  font-size: 12px;
  padding: 3px 6px 3px 12px;
  display: inline-block;
  cursor: pointer;
  line-height: 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #e5e5e5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(70%, #e5e5e5));
  background: -webkit-linear-gradient(#ffffff, #e5e5e5 70%);
  background: -moz-linear-gradient(#ffffff, #e5e5e5 70%);
  background: -o-linear-gradient(#ffffff, #e5e5e5 70%);
  background: linear-gradient(#ffffff, #e5e5e5 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #d8d8d8;
  color: #666666;
  text-shadow: white 0 1px 0;
  position: relative;
  font-weight: bold;
}
.download-link:hover {
  background-color: #d8d8d8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #f2f2f2), color-stop(75%, #d8d8d8));
  background: -webkit-linear-gradient(#f2f2f2 3%, #d8d8d8 75%);
  background: -moz-linear-gradient(#f2f2f2 3%, #d8d8d8 75%);
  background: -o-linear-gradient(#f2f2f2 3%, #d8d8d8 75%);
  background: linear-gradient(#f2f2f2 3%, #d8d8d8 75%);
}
.download-link:active {
  -webkit-box-shadow: #d1d1d1 0 1px 2px inset;
  -moz-box-shadow: #d1d1d1 0 1px 2px inset;
  box-shadow: #d1d1d1 0 1px 2px inset;
}
.download-link:after {
  background-position: 0 -99px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: "";
  height: 18px;
  width: 18px;
  position: relative;
  top: -1px;
}
.download-link:hover {
  text-decoration: none;
}
.download-link:hover:after {
  background-position: 0 -81px;
}

.no-bullets {
  margin: 0;
  padding: 0;
}
.no-bullets > li {
  list-style: none;
}

.node-list > li {
  margin-bottom: 1.28571em;
}

.node-list.divided > li {
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.21429em;
  border-color: #b3b3b3;
}

.view-reports-publications h3 {
  border-top-style: solid;
  border-top-width: 0.05556em;
  padding-top: 1.44444em;
  border-color: #b3b3b3;
  text-transform: uppercase;
}
.view-reports-publications .node-list {
  margin-bottom: 1.92857em;
}

@media (min-width: 644px) {
  .list-columns {
    -webkit-column-width: 24px;
    -moz-column-width: 24px;
    -ms-column-width: 24px;
    -o-column-width: 24px;
    column-width: 24px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 920px) {
  .list-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 1104px) {
  .list-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
  }
}

.sub-title {
  margin: 0.75em 0;
  color: #0088ff;
}

.term-title {
  margin-top: 0;
}

.collapse {
  margin: 0;
}

.field-label-above {
  padding: 0.64286em 0;
}

.field-label {
  font-size: 0.92857em;
  line-height: 1.38462em;
  color: #66c2ff;
  font-weight: bold;
}

.node-title-featured {
  font-size: 1.28571em;
  line-height: 1.5em;
  font-weight: bold;
}

.field-label-inline > .field-label {
  display: inline;
  color: #666666;
}
.field-label-inline > .field-items {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.country-header {
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.57143em;
  margin-bottom: 1.28571em;
  border-color: #e5e5e5;
}
.country-header > .page-title,
.country-header > .country-region {
  display: block;
}
.country-header > .page-title {
  font-size: 2.14286em;
  line-height: 1.2em;
  margin-bottom: 0;
}
.country-header > .country-flag {
  float: left;
  margin: 6px 24px 0 0;
}

.country {
  margin-bottom: 0.32143em;
}
.country > .country-name {
  line-height: 0.96429em;
}

.video-thumbnail {
  position: relative;
}
.video-thumbnail:after {
  background-position: 0 0;
  content: "";
  display: block;
  position: absolute;
  height: 45px;
  width: 45px;
  top: 50%;
  left: 50%;
  margin-top: -26px;
  margin-left: -26px;
  cursor: pointer;
}

.entity-field-collection-item {
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.21429em;
  padding-bottom: 1.28571em;
  border-color: #f0f1f2;
}

.field-name-post-date {
  margin: -0.64286em 0 1.92857em;
}

.node-resource .field-name-field-thumbnail {
  float: left;
  margin-right: 24px;
}
.node-resource .field-name-field-external-link,
.node-resource .field-name-field-resource-type,
.node-resource .field-name-field-resource-project {
  clear: left;
}

#messages {
  *zoom: 1;
  background-color: white;
  border-bottom: solid 1px #e5e5e5;
  font-weight: 600;
  padding: 9px 24px 0;
}
#messages:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.messages {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 9px;
  padding: 12px 24px;
}

.error {
  background-color: #b52847;
  color: white;
}
.error a {
  color: white;
  font-weight: bold;
}

.nav, .pager {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.nav-inline > .nav-item {
  display: inline;
}
.nav-inline > .nav-item > .nav-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.nav-tabs,
.nav-pills {
  overflow: hidden;
  *zoom: 1;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  display: block;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 4px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 0.25em;
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.25em;
  -webkit-box-shadow: white 0 1px 2px 0 inset;
  -moz-box-shadow: white 0 1px 2px 0 inset;
  box-shadow: white 0 1px 2px 0 inset;
  border: 1px solid #e5e5e5;
  background-color: #f0f1f2;
}
.nav-tabs > li > a:hover {
  border-color: #b3b3b3 #b3b3b3 white;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #666666;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.nav-stacked > .nav-item {
  float: none;
}

.nav-stacked > .nav-item > .nav-link {
  display: block;
  padding: 0.64286em 12px;
  margin-right: 0;
}
.nav-stacked > .nav-item > .nav-link.active {
  font-weight: bold;
}

.pager {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
  margin-bottom: 1.92857em;
}

.pager-first,
.pager-previous,
.pager-item,
.pager-next,
.pager-last {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.pager-first > a,
.pager-previous > a,
.pager-item > a,
.pager-next > a,
.pager-last > a {
  font-size: 0.85714em;
  line-height: 1.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #0055aa;
  background-color: #e5e5e5;
  padding: 2px 8px;
  margin: 0.75em 2px;
}
.pager-first > a:hover,
.pager-previous > a:hover,
.pager-item > a:hover,
.pager-next > a:hover,
.pager-last > a:hover {
  color: white;
  background-color: #0055aa;
}

.pager-current {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.85714em;
  line-height: 1.5em;
  background-color: #e5e5e5;
  color: #666666;
  padding: 0 8px;
  margin: 0.75em 2px;
}

#header {
  background-image: url("../images/header-bg.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003773), color-stop(100%, #043163));
  background-image: url("../images/header-bg.png"), -webkit-linear-gradient(#003773, #043163);
  background-image: url("../images/header-bg.png"), -moz-linear-gradient(#003773, #043163);
  background-image: url("../images/header-bg.png"), -o-linear-gradient(#003773, #043163);
  background-image: url("../images/header-bg.png"), linear-gradient(#003773, #043163);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #0a294d;
  color: #f2faff;
}

#branding {
  margin: 0;
  position: relative;
  padding-top: 20px;
}

#logo {
  float: left;
  max-width: 15.76087%;
  margin: 0 1.63043%;
}
@media (min-width: 460px) {
  #logo {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

#site-name {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: transparent url("../images/alm-logo.png") 0 0 no-repeat;
  display: block;
  height: 52px;
  margin-left: 0 16.30435%;
  width: 260px;
}
@media (min-width: 460px) {
  #site-name {
    margin-left: 108px;
  }
}
@media (min-width: 644px) {
  #site-name {
    float: left;
  }
}

@media (min-width: 460px) and (max-width: 644px) {
  #utility {
    margin-left: 108px;
  }
  #utility .block {
    display: inline-block;
  }
}
@media (min-width: 644px) {
  #utility {
    float: right;
  }
}
@media (min-width: 828px) {
  #utility .block {
    display: inline-block;
  }
}

.menu-block-2 {
  margin-right: 12px;
}
.menu-block-2 .nav-link {
  font-size: 0.85714em;
  line-height: 1.5em;
  margin-right: 12px;
  margin-left: 12px;
  color: #66c2ff;
}
.menu-block-2 .nav-link:hover {
  color: #acdeff;
}

#block-search-form {
  right: 0;
  position: relative;
}
#block-search-form #edit-search-block-form--2 {
  font-size: 0.85714em;
  line-height: 1.5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #666666;
  font-family: arial, helvetica, sans-serif;
  border: none;
  padding: 5px 24px 5px 10px;
  margin-right: 20px;
  width: 140px;
  height: 12px;
  float: none;
}
#block-search-form input[value="Search"] {
  background-position: 0 -45px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 18px;
  width: 18px;
  padding: 0;
  border: none;
  margin-right: 0;
  position: absolute;
  right: 26px;
  top: -3px;
  text-indent: 24px;
}
#block-search-form #edit-actions,
#block-search-form #edit-actions--2 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
}

#navigation {
  clear: both;
}
@media (min-width: 460px) {
  #navigation {
    margin-left: 108px;
  }
}

.menu-block-1 {
  padding: 0.64286em 0;
}
.menu-block-1 .nav, .menu-block-1 .pager {
  display: none;
}
@media (min-width: 828px) {
  .menu-block-1 {
    padding-bottom: 0;
  }
  .menu-block-1 #navigation-dropdown {
    display: none;
    margin-bottom: 0.64286em;
  }
  .menu-block-1 .nav, .menu-block-1 .pager {
    display: block;
    margin-bottom: -1px;
  }
  .menu-block-1 .nav-link {
    font-size: 1em;
    line-height: 1.28571em;
    color: #66c2ff;
    border-top-style: solid;
    border-top-width: 0.07143em;
    padding-top: 0.14071em;
    margin-right: 12px;
    margin-left: 12px;
    border-color: #1e75c3;
    font-weight: bold;
    padding-bottom: 0.42429em;
  }
  .menu-block-1 .nav-link:hover {
    color: #acdeff;
  }
  .menu-block-1 .nav-link:first-child {
    margin-left: 0;
  }
  .menu-block-1 .nav-link:hover {
    text-decoration: none;
    border-color: #acdeff;
  }
  .menu-block-1 .nav-link.active, .menu-block-1 .nav-link.active-trail {
    border-top-style: solid;
    border-top-width: 0.14286em;
    padding-top: 0.06929em;
    background-color: white;
    color: #444444;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1012px) {
  .menu-block-1 .nav-link {
    font-size: 1.28571em;
    line-height: 1.5em;
    border-top-style: solid;
    border-top-width: 0.05556em;
    padding-top: 0.10944em;
    padding-bottom: 0.33em;
  }
  .menu-block-1 .nav-link.active {
    border-top-style: solid;
    border-top-width: 0.11111em;
    padding-top: 0.05389em;
  }
}

#footer {
  background-color: #0a294d;
  color: white;
  padding: 1.28571em 0;
}

#block-boxes-copyright {
  font-size: 0.78571em;
  line-height: 1.63636em;
  float: left;
  margin-right: 24px;
}

#footer-nav .nav-link {
  font-size: 0.78571em;
  line-height: 1.63636em;
  color: #66c2ff;
  padding: 0 12px;
}
#footer-nav .nav-link:hover {
  color: #acdeff;
}

#block-views-what-we-do-block .attachment {
  margin-bottom: 1.28571em;
}
@media (min-width: 460px) {
  #block-views-what-we-do-block .attachment {
    width: 252px;
    float: left;
  }
}
@media (min-width: 552px) {
  #block-views-what-we-do-block .attachment {
    width: 344px;
  }
}
@media (min-width: 736px) {
  #block-views-what-we-do-block .attachment {
    width: 528px;
  }
}
@media (min-width: 920px) {
  #block-views-what-we-do-block .attachment {
    width: 620px;
  }
}
@media (min-width: 1012px) {
  #block-views-what-we-do-block .attachment {
    width: 712px;
  }
}
@media (min-width: 1012px) {
  #block-views-what-we-do-block .attachment {
    width: 712px;
  }
}
@media (min-width: 736px) {
  #block-views-what-we-do-block .field-name-field-project-photos,
  #block-views-what-we-do-block .field-name-field-featured-video {
    float: left;
    width: 252px;
    margin-right: 24px;
  }
}
@media (min-width: 920px) {
  #block-views-what-we-do-block .field-name-field-project-photos,
  #block-views-what-we-do-block .field-name-field-featured-video {
    width: 344px;
  }
}
#block-views-what-we-do-block .view-display-id-block > .view-content,
#block-views-what-we-do-block .view-display-id-block > .more-link {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
}
@media (min-width: 460px) {
  #block-views-what-we-do-block .view-display-id-block > .view-content,
  #block-views-what-we-do-block .view-display-id-block > .more-link {
    margin-left: 252px;
  }
}
@media (min-width: 552px) {
  #block-views-what-we-do-block .view-display-id-block > .view-content,
  #block-views-what-we-do-block .view-display-id-block > .more-link {
    margin-left: 344px;
  }
}
@media (min-width: 736px) {
  #block-views-what-we-do-block .view-display-id-block > .view-content,
  #block-views-what-we-do-block .view-display-id-block > .more-link {
    margin-left: 528px;
  }
}
@media (min-width: 920px) {
  #block-views-what-we-do-block .view-display-id-block > .view-content,
  #block-views-what-we-do-block .view-display-id-block > .more-link {
    margin-left: 620px;
  }
}
@media (min-width: 1012px) {
  #block-views-what-we-do-block .view-display-id-block > .view-content,
  #block-views-what-we-do-block .view-display-id-block > .more-link {
    margin-left: 712px;
  }
}
@media (min-width: 1012px) {
  #block-views-what-we-do-block .view-display-id-block > .view-content,
  #block-views-what-we-do-block .view-display-id-block > .more-link {
    margin-left: 712px;
  }
}

.featured-resources .view {
  overflow: hidden;
  *zoom: 1;
}
.featured-resources views-row {
  padding-top: 0.64286em;
}
.featured-resources .views-field-field-thumbnail,
.featured-resources .video-thumbnail {
  float: left;
  margin: -0.64286em 24px 0 0;
}
.featured-resources .views-field-field-thumbnail img,
.featured-resources .video-thumbnail img {
  -webkit-box-shadow: #b3b3b3 1px 1px 2px;
  -moz-box-shadow: #b3b3b3 1px 1px 2px;
  box-shadow: #b3b3b3 1px 1px 2px;
}
.featured-resources .node-title-featured {
  padding: 0.5em 24px;
  margin: 1em 0 0.5em;
  background-color: #f2faff;
}

@media (min-width: 736px) {
  .featured-resources {
    width: 344px;
  }
}
@media (min-width: 920px) {
  .featured-resources {
    width: 436px;
  }
}
@media (min-width: 1104px) {
  .featured-resources {
    width: 528px;
  }
}

@media (min-width: 736px) {
  #block-views-featured-documents-block {
    float: left;
  }

  #block-views-featured-videos-block {
    float: right;
  }
}
@media (min-width: 828px) {
  #block-views-featured-videos-block {
    width: 436px;
  }
}
@media (min-width: 1012px) {
  #block-views-featured-videos-block {
    width: 528px;
  }
}

#block-views-country-and-flag-block-block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0.32143em 12px;
  background-color: #0a294d;
}
#block-views-country-and-flag-block-block .country-flag {
  float: left;
  margin-right: 12px;
  margin-top: 0.32143em;
}
#block-views-country-and-flag-block-block .country-name {
  font-size: 1.28571em;
  line-height: 1.5em;
  margin: 0;
}
#block-views-country-and-flag-block-block .country-name > a {
  color: white;
}
#block-views-country-and-flag-block-block .country-name > a:hover {
  color: #66c2ff;
}
#block-views-country-and-flag-block-block .country-region {
  font-size: 0.92857em;
  line-height: 1.38462em;
}
#block-views-country-and-flag-block-block .country-region > a {
  color: #66c2ff;
}
#block-views-country-and-flag-block-block .country-region > a:hover {
  color: #99ccff;
}

.view-country-and-flag-block {
  min-height: 54px;
}

#block-undp-map-undp-project-map {
  margin-bottom: 2.57143em;
}
#block-undp-map-undp-project-map .leaflet-container {
  height: 298px !important;
}

#block-views-0b6a47121ffb288176f7c5d6aed66513 {
  margin-bottom: 2.57143em;
}

#block-views-partners-block-block {
  text-align: center;
}
#block-views-partners-block-block .views-row {
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.21429em;
  margin-bottom: 1.28571em;
  border-color: #e5e5e5;
  position: relative;
}
#block-views-partners-block-block .views-row:before, #block-views-partners-block-block .views-row:after {
  content: "";
  position: absolute;
  top: -2px;
  display: block;
  height: 3px;
  width: 20%;
}
#block-views-partners-block-block .views-row:before {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
}
#block-views-partners-block-block .views-row:after {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  right: 0;
}
#block-views-partners-block-block .views-row:first-child {
  border-color: transparent;
}

.block-title-collapsed {
  margin-top: 0;
}

.views-exposed-form {
  background-color: #f2faff;
  padding: 1.28571em 12px;
}
.views-exposed-form label {
  font-size: 0.85714em;
  line-height: 1.5em;
}
.views-exposed-form input,
.views-exposed-form select {
  font-size: 0.85714em;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px 4px;
  max-width: 100%;
}
.views-exposed-form #autocomplete > ul > li {
  font-size: 0.85714em;
  line-height: 1.5em;
  padding-left: 4px;
}

#views-exposed-form-links-landing-page-page {
  margin-bottom: 1.28571em;
}
#views-exposed-form-links-landing-page-page label,
#views-exposed-form-links-landing-page-page .views-widget {
  float: left;
  margin-right: 12px;
}
#views-exposed-form-links-landing-page-page .form-item {
  margin-bottom: 0;
}

.node-project.view-mode-image_teaser {
  overflow: hidden;
  *zoom: 1;
  background-color: #f2faff;
}
.node-project.view-mode-image_teaser .node-title {
  font-size: 1.28571em;
  line-height: 1.5em;
  font-weight: bold;
}
.node-project.view-mode-image_teaser > .field-name-title,
.node-project.view-mode-image_teaser > .field-name-body {
  padding: 0 12px;
}

.node-teaser.node-resource {
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.21429em;
  padding-bottom: 1.28571em;
  border-color: #f0f1f2;
}
.node-teaser.node-resource h2 {
  font-size: 1.28571em;
  line-height: 1.25em;
  margin: 0;
}
.node-teaser.node-resource .field-name-post-date {
  font-size: 0.85714em;
  line-height: 1.5em;
  margin: 0.375em 0 0.75em;
}
.node-teaser.node-resource .field-name-field-description {
  font-size: 0.92857em;
  line-height: 1.38462em;
}
.node-teaser.node-resource .field-name-field-thumbnail {
  float: left;
  margin-right: 24px;
}

#block-views-c97538715ae49602b220eacf2d11c084 {
  padding: 1.92857em 0 1.28571em;
}

.view-rotating-features-slideshow {
  position: relative;
}
.view-rotating-features-slideshow > .attachment {
  z-index: 2;
  display: none;
}
@media (min-width: 736px) {
  .view-rotating-features-slideshow > .attachment {
    display: block;
    position: absolute;
    width: 252px;
    top: 0;
    right: 0;
  }
}
@media (min-width: 828px) {
  .view-rotating-features-slideshow > .attachment {
    width: 344px;
  }
}

.flexslider {
  background-color: transparent;
  border: none;
}
@media (min-width: 736px) {
  .flexslider .slides li {
    overflow: hidden;
  }
  .flexslider .slides li > a {
    text-align: center;
  }
  .flexslider .slides img {
    max-height: 100%;
    max-width: none;
  }
}

#block-views-c97538715ae49602b220eacf2d11c084 .flex-nav-container {
  float: none;
  margin-bottom: 0;
}
@media (min-width: 736px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-nav-container {
    width: 436px;
    height: 360px;
  }
}
@media (min-width: 828px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-nav-container {
    width: 436px;
  }
}
@media (min-width: 920px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-nav-container {
    width: 528px;
  }
}
@media (min-width: 1012px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-nav-container {
    width: 620px;
  }
}
@media (min-width: 1104px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-nav-container {
    width: 712px;
  }
}

.flex-caption {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #0a294d;
  background-color: rgba(10, 41, 77, 0.8);
  color: #66c2ff;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  width: 100% !important;
}
.flex-caption:before {
  left: 44px;
}
.flex-caption:after {
  right: 44px;
}
.flex-caption > .slide-description {
  font-size: 0.85714em;
  line-height: 1.5em;
}
.flex-caption > .slide-description p {
  margin-bottom: 0;
}
.flex-caption > .slide-title {
  font-size: 1.28571em;
  line-height: 1.5em;
  font-weight: normal;
  margin: 0;
}
@media (min-width: 736px) and (max-width: 920px) {
  .flex-caption > .slide-title {
    font-size: 1.14286em;
    line-height: 1.6875em;
  }
}
.flex-caption a {
  color: white;
}
@media (min-width: 368px) {
  .flex-caption {
    padding-left: 68px !important;
    padding-right: 68px !important;
  }
  .flex-caption:before, .flex-caption:after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: #0055aa;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 552px) {
  .flex-caption {
    position: absolute;
  }
}

.flex-custom-nav {
  padding: 0;
  margin: 0;
}

.flex-custom-nav-item {
  clear: left;
  list-style: none;
  margin: 0;
}
.flex-custom-nav-item a {
  color: #99ccff;
}
.flex-custom-nav-item a:hover {
  color: white;
}
.flex-custom-nav-item > .slide-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  float: left;
  height: 71px;
  width: 92px;
  overflow: hidden;
  text-indent: -46px;
}
.flex-custom-nav-item > .slide-image > img {
  width: auto;
  height: 92px;
  max-width: none;
}
.flex-custom-nav-item > .slide-image:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.flex-custom-nav-item > .slide-title {
  margin-left: 112px;
}
.flex-custom-nav-item.active > .slide-image {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  border: 2px solid white;
}
.flex-custom-nav-item.active > .slide-title {
  margin-left: 112px;
}
.flex-custom-nav-item.active a {
  color: white;
}

.flex-direction-nav {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.flex-direction-nav li {
  display: block;
  bottom: 0;
}
.flex-direction-nav li .prev,
.flex-direction-nav li .next {
  background-image: none;
}
.flex-direction-nav li .prev:after,
.flex-direction-nav li .next:after {
  content: "";
  display: block;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 50%;
  margin-top: -9px;
  left: 50%;
  margin-left: -9px;
}
.flex-direction-nav li .prev:after {
  background-position: 0 -117px;
}
.flex-direction-nav li .next:after {
  background-position: 0 -63px;
}
@media (min-width: 368px) {
  .flex-direction-nav {
    display: block;
  }
}

.field-name-field-project-photos .flex-caption {
  display: none;
}
.field-name-field-project-photos .flex-direction-nav {
  height: 31px;
  width: 62px;
  bottom: 1px;
}
.field-name-field-project-photos .flex-direction-nav li {
  height: 100%;
  width: 100%;
}
.field-name-field-project-photos .flex-direction-nav .prev,
.field-name-field-project-photos .flex-direction-nav .next {
  height: 30px;
  width: 30px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  background-color: rgba(10, 41, 77, 0.8);
}
.field-name-field-project-photos .flex-direction-nav .prev {
  left: 0;
}
.field-name-field-project-photos .flex-direction-nav .next {
  left: 31px;
}

#block-views-c97538715ae49602b220eacf2d11c084 .slide-description > a,
#block-views-c97538715ae49602b220eacf2d11c084 .slide-description > p {
  display: inline;
}
#block-views-c97538715ae49602b220eacf2d11c084 .slide-description > a {
  font-size: 0.83333em;
  line-height: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
#block-views-c97538715ae49602b220eacf2d11c084 .slide-description > a:after {
  background-position: 0 -171px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: "";
  height: 18px;
  width: 18px;
  position: relative;
}

#block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav {
  position: absolute;
  width: 100%;
  height: 0;
  top: 100%;
  left: 0;
  z-index: 1;
}
#block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li {
  position: absolute;
  height: 0;
  width: 100%;
  margin-top: 0;
}
#block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .prev,
#block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next {
  width: 44px;
  height: 91px;
  margin-top: 0;
  position: absolute;
  top: -91px;
}
#block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .prev {
  left: 0;
}
#block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next {
  left: 100%;
  margin-left: -44px;
}
#block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next:after {
  background-position: 0 -63px;
}
@media (min-width: 736px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next {
    left: 436px;
  }
}
@media (min-width: 828px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next {
    left: 436px;
  }
}
@media (min-width: 920px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next {
    left: 528px;
  }
}
@media (min-width: 1012px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next {
    left: 620px;
  }
}
@media (min-width: 1104px) {
  #block-views-c97538715ae49602b220eacf2d11c084 .flex-direction-nav li .next {
    left: 712px;
  }
}

.flexslider ul.slides li:only-child {
  display: block !important;
}

.view-explore th {
  font-size: 0.78571em;
  line-height: 1.63636em;
  text-transform: uppercase;
}
.view-explore .views-field-title {
  font-weight: bold;
}
.view-explore td.views-field-field-funding-source,
.view-explore td.views-field-field-thematic-area,
.view-explore td.views-field-field-region {
  font-size: 0.85714em;
  line-height: 1.5em;
}

.leaflet-container {
  background-color: #07d;
}

.leaflet-control-attribution {
  display: none;
}

.view-signature-programmes h3,
.view-signature-programmes h4,
.view-list-of-sub-programmes h3,
.view-list-of-sub-programmes h4 {
  margin-top: 0;
}
.view-signature-programmes .views-row,
.view-list-of-sub-programmes .views-row {
  overflow: hidden;
  *zoom: 1;
}
.view-signature-programmes .term-title,
.view-list-of-sub-programmes .term-title {
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.21429em;
  font-size: 1.28571em;
  line-height: 1.5em;
  border-color: #b3b3b3;
}
.view-signature-programmes .term-image,
.view-list-of-sub-programmes .term-image {
  float: left;
  margin-right: 24px;
  margin-bottom: 1.28571em;
}
@media (min-width: 920px) {
  .view-signature-programmes .term-image,
  .view-list-of-sub-programmes .term-image {
    max-width: 160px;
  }
}
@media (min-width: 1012px) {
  .view-signature-programmes .term-image,
  .view-list-of-sub-programmes .term-image {
    max-width: 252px;
  }
}
@media (min-width: 920px) {
  .view-signature-programmes .description,
  .view-list-of-sub-programmes .description {
    float: left;
    width: 436px;
    margin-right: 24px;
  }
}
@media (min-width: 1104px) {
  .view-signature-programmes .description,
  .view-list-of-sub-programmes .description {
    width: 528px;
  }
}
.view-signature-programmes .projects,
.view-list-of-sub-programmes .projects {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: left;
  padding: 0.64286em 12px;
  margin-top: 1.28571em;
  background-color: #f2faff;
}
@media (min-width: 920px) {
  .view-signature-programmes .projects,
  .view-list-of-sub-programmes .projects {
    clear: none;
    float: right;
    width: 252px;
    margin-top: 0;
  }
}

.view-id-sub_programmes_child_ .views-row {
  margin-bottom: 0.64286em;
}

.taxonomy-term {
  overflow: hidden;
  *zoom: 1;
}
.taxonomy-term .field-name-field-programme-preview-image {
  float: left;
  margin-right: 24px;
  margin-bottom: 1.28571em;
}

.partners > .partner {
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.21429em;
  overflow: hidden;
  *zoom: 1;
}

.partner-logo {
  float: left;
  margin-right: 24px;
}

@media (min-width: 736px) {
  .field-name-field-youtube-url iframe {
    width: 344px;
    height: 258px;
  }
}
@media (min-width: 920px) {
  .field-name-field-youtube-url iframe {
    width: 436px;
    height: 327px;
  }
}

.node-video.node-teaser {
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 736px) {
  .node-video.node-teaser .field-name-field-youtube-url,
  .node-video.node-teaser iframe {
    width: 252px;
    height: 189px;
    float: left;
  }
}
@media (min-width: 736px) {
  .node-video.node-teaser .field-name-field-youtube-url {
    float: left;
    margin-right: 24px;
  }
}

#block-views-map-legend-block {
  padding: 1.28571em 12px;
  background-color: #0a294d;
}
#block-views-map-legend-block > .block-title {
  margin-top: 0;
  font-size: 1em;
  line-height: 1.28571em;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
#block-views-map-legend-block > .block-content {
  overflow: hidden;
  *zoom: 1;
}

.legend-item {
  -webkit-box-sizing: inline-block;
  -moz-box-sizing: inline-block;
  box-sizing: inline-block;
  float: left;
}
.legend-item > a {
  color: #f2faff;
  -webkit-box-sizing: inline-block;
  -moz-box-sizing: inline-block;
  box-sizing: inline-block;
  display: block;
  padding: 0.64286em 24px;
  background-position: left center;
  background-repeat: no-repeat;
}
.legend-item > a:hover {
  color: white;
}

.source-icon {
  position: relative;
  top: .35em;
  margin-right: .2em;
}

.source-name {
  color: #99ccff;
  margin-right: 24px;
  font-weight: bold;
}
.source-name:hover {
  color: white;
}

.lt-ie9 #edit-actions input[value="Search"],
.lt-ie9 #edit-actions--2 input[value="Search"] {
  top: -4px;
}
.lt-ie9 img {
  width: auto;
}
